<main class="pl-3 mt-5 mb-4">
    <div class=" order-md-last">
        <div class="d-flex justify-content-between align-items-center mb-3 text-white">
            <h4>Your cart</h4>
            <p *ngIf="isActive;else emptyblock">You have <span class="badge bg-success bg-gradient rounded-pill">{{productAddedTocart.length}}</span> items in your shopping cart.</p>
            <ng-template #emptyblock>
                Your Basket is Empty
            </ng-template>
            
        </div>
        
        <ul class="list-group mb-3">
          <li class="list-group-item justify-content-start d-flex lh-sm" >
            
            <div class="title-box col-6">
              <h6 class="my-0"><strong>Name</strong></h6>
              <small class="text-muted">Ingredients</small>
            </div>
            <div class="d-flex align-items-center col-2"><h6><strong>Image</strong></h6></div>
            
            
            <div class="d-flex align-items-center col-3">
              <h6><strong>Quantity</strong></h6>
            </div>
            <h6 class="d-flex align-items-center"><strong>Price</strong></h6>
          </li>

          <li class="list-group-item d-flex lh-sm" *ngFor="let prod of productAddedTocart;let q = index">
            <div class=" col-6">
              <h6 class="my-0">{{prod.title}}</h6>
              <small class="text-muted">{{prod.ingredients}}</small>
            </div>
            <img src="{{prod.imageUrl}}" class="col-2" alt="">
            <div class="col-3 d-flex flex-column justify-content-center">
              <div class="d-flex align-items-center pb-2">
              <button type="button" (click)="onAddQuantity(prod)" class="btn btn-success">+</button> 
              <input type="text"  [ngModel] ="prod.Quantity" (ngModelChange) ="prod.Quantity=$event" class="form-control form-inline">
              <button type="button" (click)="onRemoveQuantity(prod)" class="btn btn-danger" *ngIf="prod.Quantity >1; else deleteblock">-</button>
              <ng-template #deleteblock>
                <button type="button" class="btn btn-danger" disabled>-</button>
              </ng-template>
            </div>
              
            </div>
            <span class="text-muted d-flex align-items-center col-2">{{prod.price * prod.Quantity | currency : "": true}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>{{allTotal | currency : "": true}}</strong>
          </li>
        </ul> 

        <button class="btn btn-danger" (click)="clearStorage()">Remove all food</button>

      </div>
</main>
