<main class="pl-3 mt-5">
    <button type="button" class="btn btn-success m-3" routerLink="/admin/product-form/new"> + Add Food</button>
    <table class="table table-striped  table-dark ">
        <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Category</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let food of foods$ | async">
              <td>{{food.title}}</td>
              <td>{{food.price | currency : "": true}}</td>
              <td>{{food.category}}</td>
              <td><a [routerLink]="['/admin/product-form/',food.id]" class="btn btn-success">Edit</a></td>
              <td><a (click)="deleteItem(food)" class="btn btn-danger">Remove</a></td>
            </tr>
          </tbody>
    </table>
</main>